@model sdb.Models.SdbCompaigns
<tr>
    <td>
        @Html.DisplayFor(modelItem => @Model.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.Image)
        
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.CompaignPurpose)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.UserId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.TotalAmountNeeded)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.CollectedAmount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => @Model.Status)
    </td>
    
        <td>
            <a asp-action="EditCampaign" asp-route-id="@Model.Id">Edit</a> |
           
            <a asp-action="DeleteCampaign" asp-route-id="@Model.Id">Delete</a>
        </td>
</tr>
