@model IEnumerable<sdb.Models.SdbCompaigns>
@{
    ViewData["Title"] = "Campaigns";
    Layout = "~/Areas/Ngo/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="loggedinuserID" value="1" />
<div class="col-md-12 form-group">
    
    <div class="container invisible" id="divAddEditView">

    </div>
    @*<a class="btn btn-success bg-theme-colored" style="margin-bottom:10px" asp-action="AddOrEdit"><i class="fa fa-plus"></i> Add New</a>*@
    

</div>
<div id="CampaignsContainer" class="container visible">
    <h2>Smart Donation Box Campagin List</h2>
    <div class="col-md-12 form-group">
        <form asp-action="AddOrEdit" 
          data-ajax="true" 
          data-ajax-update="#divAddEditView" 
          data-ajax-success="showAddEditViewForm()">
          <button type="submit" class="btn btn-success bg-theme-colored"><i class="fa fa-plus"></i>Add New</button>


        </form>
        <div id="campaignTableDIV">
            <table id="Campaigntbl" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Compaign Purpose
                        </th>
                        <th>
                            User_Id
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Total Amount Needed
                        </th>
                        <th>
                            Collected Amount
                        </th>
                        <th>
                            Status
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Image)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompaignPurpose)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalAmountNeeded)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CollectedAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            @*
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

@section scripts{
@{ 
    await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
}

    <script>
        $(document).ready(function () {

            $("#Campaigntbl").DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                responsive: {
                    details: false
                }
            });

        });

        function loadCampaigns() {
            let loggedinuserID = $("#loggedinuserID").val();
            $.ajax({
                url: "/Campaign/GetAllNGOCampaigns",
                type: "GET",

                data: { userId: loggedinuserID },
                success: function (response) {
                    console.log("Success Response: ");
                    console.log(response);
                    $("#campaignTableDIV").html(response);
                    

                },
                error: function (response) {
                    console.log(response);
                    alert(response);
                }
            });

        }

        function PostAddEditViewForm() {
            let Name = $("#Name").val();
            let ImageData = $("#ImageData").val();
            let Description = $("#Description").val();
            let TotalAmountNeeded = $("#TotalAmountNeeded").val();
            $.ajax({
                url: "/Campaign/_Campaign",
                type: "POST",

                data: { Name: Name, Description: Description, TotalAmountNeeded: TotalAmountNeeded },
                success: function (response) {
                    console.log("Success Response: ");
                    console.log(response);
                    $("#campaignTableDIV").html(response);
                    closeAddEditViewForm();

                },
                error: function (response) {
                    console.log(response);
                    alert(response);
                }
            });

        }

        function showAddEditViewForm(){
            $("#divAddEditView").addClass("visible");
            $("#divAddEditView").removeClass("invisible");


            $("#CampaignsContainer").addClass("invisible");
            $("#CampaignsContainer").removeClass("visible");


        }

        function closeAddEditViewForm(){
            $("#divAddEditView").addClass("invisible");
            $("#divAddEditView").removeClass("visible");
            $("#addCampaignFormDIV").remove();


            $("#CampaignsContainer").addClass("visible");
            $("#CampaignsContainer").removeClass("invisible");
            loadCampaigns();

        }



    </script>
}