@model IEnumerable<sdb.Models.SdbCompaigns>
@{
    ViewData["Title"] = "Campaigns";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id="CampaignsContainer" class="container visible">
    <h2>Smart Donation Box Campagin List</h2>
    <div class="col-md-12 form-group">
        <div id="campaignTableDIV">
            <table id="Campaigntbl" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Image
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            User
                        </th>
                        <th>
                            Total Amount Needed
                        </th>
                        <th>
                            Collected Amount
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Action
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        // If a campaign does not have a photo display noImageCampaign.jpg
                        var photoPath = "/images/gallery/" + (item.Image ?? "noImageCampaign.jpg");
                        <tr>
                            <td class="form-group row col-sm-3 offset-3">
                                @*Display the existing campaign photo*@
                                <div>
                                    <img class="campaignImageThumbnail" src="@photoPath" asp-append-version="true" />
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sdbSystemUsers.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalAmountNeeded)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CollectedAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>

                            <td>
                                @if (item.Status.Equals("Stop"))
                                {
                                    <input type="button" onclick="UpdateCampaignStatusAjaxCall('@item.Id'); return false;" value="Mark as Delivered" class="btn btn-success bg-theme-colored" />
                                }
                                else
                                {
                                    <input type="button" disabled="disabled" value="Mark as Delivered" class="btn btn-success bg-theme-colored" />
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }

    <script>
        $(document).ready(function () {

            $("#Campaigntbl").DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                responsive: {
                    details: false
                }
            });

        });

        function loadCampaigns() {
            $.ajax({
                url: "/Admin/AdminCampaign/Index",
                type: "GET",
                success: function (response) {
                    //console.log("Success Response: ");
                    //console.log(response);
                    $("#campaignTableDIV").html(response);
                },
                error: function (httpRequest, textStatus, errorThrown) {  // detailed error messsage 
                    alert("Error: " + textStatus + " " + errorThrown + " " + httpRequest);
                }
            });

        }

        function UpdateCampaignStatusAjaxCall(campId) {
            //console.log(campId);
            $.ajax({
                url: "/Admin/AdminCampaign/UpdateCampaignStatus",
                type: "POST",
                data: { Id: campId },
                success: function (response) {
                    console.log("Success Response: ");
                    console.log(response);
                    if (response.message === "Updated") {
                        loadCampaigns();
                    } else {
                        alert("Error: while updating campaign status");
                    }

                },
                error: function (httpRequest, textStatus, errorThrown) {  // detailed error messsage 
                    alert("Error: " + textStatus + " " + errorThrown + " " + httpRequest);
                }
            });

        }

    </script>
}