@model IEnumerable<sdb.Models.SdbTransaction>
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="CampaignsContainer" class="container visible">
    <h2>All Donations Record</h2>
    <div class="col-md-12 form-group">
        <div id="donationTableDIV">
            <table id="Campaigntbl" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>

                        <th>
                            Title
                        </th>
                        <th>
                            Campaign User
                        </th>
                        <th>
                            Total Amount Needed
                        </th>
                        <th>
                            Collected Amount
                        </th>
                        <th>
                            Donor Name
                        </th>
                        <th>
                            Donor Contribution
                        </th>
                        <th>
                            Donation Date
                        </th>
                        <th>
                            Status
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Compaign.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Compaign.sdbSystemUsers.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Compaign.TotalAmountNeeded)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Compaign.CollectedAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Donor.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DonationAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Compaign.Status)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }

    <script>
        $(document).ready(function () {

            $("#Campaigntbl").DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                responsive: {
                    details: false
                }
            });

        });

    </script>
}